/**********MOBILE*************/
.grid-container {
	display: grid;
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	grid-template-columns: repeat(1,1fr);

	grid-template-areas: 	"menu"
							"section1"
							"section2"
							"chart1"
							"chart2"
							"chart3"
							"foot"

}

.navbar {
	grid-area: menu;
}

.speed {
	grid-area: section1;
}

.gforce {
	grid-area: section2;
}

.fuelChart {
	grid-area: chart1;
}

.distanceChart {
	grid-area: chart2;
}

.supplyChart {
	grid-area: chart3;
}
